@page
@model WebPagesLoginLab6.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "Area for Razor Pages (Administration)";
}

<div>
    <h1>Administration Area</h1>
    <p>Use this area to manage your site.</p>
</div>