@page
@model WebPagesLoginLab6.Pages.ExcelPageModel
@{
}

<div>
    <p>
        <a asp-page="/ExcelPage"
           asp-page-handler="ExcelDownload">Excel Download</a>
    </d>
    <p>
        <a asp-page="/ExcelPage"
           asp-page-handler="ExcelDownload2">Excel Daliy Report Donwload 2</a>
    </p>
</div>
