@page
@model WebPagesLoginLab6.Pages.LogoutModel
@{
}

<div>
    <h1>Logout</h1>
    <p>Are you sure you want to log out?</p>
    <form method="post">
        <button type="submit" class="btn btn-primary">Log out</button>
    </form>
</div>
